html{
	scroll-behavior: smooth;
}
@font-face {
font-family: ‘digital’;
src: url(‘digital-7.ttf’);
}
@media screen and (min-width: 0px) {
	#calbody{
		font-size: 0.45em !important;
		background: #505050;
		width: 300px;
		height: 290px;
		padding: 10px;
		user-select: none;
		border: 10px solid #747474;
		border-radius: 5px;
	}
}
@media screen and (min-width: 360px) {
	#calbody{
		font-size: 0.55em !important;
		background: #505050;
		width: 340px;
		height: 330px;
		padding: 10px;
		user-select: none;
		border: 10px solid #747474;
		border-radius: 5px;
	}
}
@media screen and (min-width: 400px) {
	#calbody{
		font-size: 0.65em !important;
		background: #505050;
		width: 400px;
		height: 380px;
		padding: 10px;
		user-select: none;
		border: 10px solid #747474;
		border-radius: 5px;
	}
}
@media screen and (min-width: 500px) {
	#calbody{
		font-size: 0.87em !important;
		background: #505050;
		width: 500px;
		height: 500px;
		padding: 10px;
		user-select: none;
		border: 10px solid #747474;
		border-radius: 5px;
	}
}
@media screen and (min-width: 600px) {
	#calbody{
		font-size: 1em !important;
		background: #505050;
		width: 580px;
		height: 560px;
		padding: 10px;
		user-select: none;
		border: 10px solid #747474;
		border-radius: 5px;
	}
}
@media screen and (min-width: 3000px) {
	#calbody{
		font-size: 1.3em !important;
		background: #505050;
		width: 900px;
		height: 850px;
		padding: 10px;
		user-select: none;
		border: 10px solid #747474;
		border-radius: 5px;
	}
}
#body{
	display: flex;
	justify-content: center;
	margin: 5% 0% 5% 0%;
}
nav{
	background: #161616;
	margin-bottom: 1%;
}
.nav-link{
	color: white;
	margin-left: 10%;
}
.nav-link:hover{
	color: #98FF80;
	;
}
.nav-item{
	margin-left: 30px;
}
.row{
	flex-wrap: nowrap !important;
}
#upper{
	background: black;
	height: 25%;
	padding: 2% 0.5% 2% 0.5%;
	border-bottom: 3px solid white;
}
#display-sec{
	width: 100%;
	height: 100%;
	background: #F2F2F2;
	border-radius: 15px;
	padding: 1% 0.5% 1% 2%;
}
.row{
	margin: 0 !important ;
}
#display{
	background: #98FF80;
	width: 80%;
	height: 100%;
	border-radius: 5px;
	font-family: “digital”;
}
#calcdisp{
	height: 100%;
}
#messages{
	height: 20%;
	padding-right: 1%;
}
#calculations{
	height: 80%;
}
.branding{
	text-align: center;
	line-height: normal;
	margin-left: 1%;
}
.float{
	float: left;
}
#middle{
	background: black;
	width: 100%;
	height: 12%;
	padding: 2%;
	border-bottom: 1.5px solid #AEAEAE;
}
#chkbtns{
	width: 48%;
	height: 100%;
	margin-right: 12%;
	float: left;
}
.btn-a{
	width: 23%;
	height: 100%;
	margin-left: 1%;
	margin-right: 1%;
	background: #47AFE3;
	float: left;
	cursor: pointer;
	outline: none;
	border-bottom: 1px solid white;
  	border-radius: 2px;
  	box-shadow: 0 5px #3D81CB;
  	line-height: 0.2;
  	padding: 3% 0% 0% 2%;
  	color: #F8F8F8;
  	font-weight: 600;
  	font-size: 0.75em;
}
.btn-a:hover{
	background-color: #40A2D3;
}
.btn-a:active{
	background-color: #40A2D3;
  	box-shadow: 0 1px #666;
  	transform: translateY(4px);
}
#cells{
	width: 40%;
	height: 100%;
	float: left;
	padding: 1%;
}
.cell-1, .cell-2{
	width: 10%;
	height: 100%;
	background: #C04343;
	float: left;
}
.cell-1{
	border-right: 1px solid white;
}
#lower{
	width: 100%;
	height: 61.5%;
	background: #505050;
	padding: 1% 1% 0% 1%;
}
#lower-border{
	height: 100%;
	width: 100%;
	padding: 0.2%;
	border : 1px solid black;
}
.butn-group-1{
	height: 100%;
	width: 13%;
	margin-right: 0.5%;
	float: left;
	border : 1px solid black;
	padding: 1% 1% 1.5% 1%;
}
.fn-btn{
	width: 100%;
	height: 16%;
	background: #F8F8F8;
	margin-bottom: 23%;
	cursor: pointer;
	outline: none;
	border: none;
  	border-radius: 2px;
  	box-shadow: 0 6px #999;
  	padding-left: 5%;
  	font-size: 1.5em;
  	color: black;
  	font-weight: 600;
}
.fn-btn:hover{
	background-color: #EDEDED;
}
.fn-btn:active{
	background-color: #EDEDED;
  	box-shadow: 0 2px #666;
  	transform: translateY(4px);
}
.last{
	margin-bottom: 0%;
}
.butn-group-2{
	height: 100%;
	width: 43%;
	margin-right: 0.5%;
	float: left;
	border : 1px solid black;
	padding: 1%;
}
.butn-group-3{
	height: 100%;
	width: 43%;
	float: left;
	border : 1px solid black;
	padding: 1%;
}
.flex{
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 25%;
}
.numb-btn, .trigo, #sqrt{
	width: 26%;
	height: 75%;
	background: #4F4F4F;
	float: left;
	cursor: pointer;
	outline: none;
	border: none;
  	border-radius: 2px;
  	box-shadow: 0 6px black;
  	border-right: 3px solid black;
  	border-left: 1.25px solid black;
  	border-top: 0.5px solid #999;
  	border-bottom: 0.5px solid #999;
  	padding-left: 2%;
  	font-size: 1.5em;
  	color: #F8F8F8;
  	font-weight: 600;
}
.numb-btn:hover, .trigo:hover, #sqrt:hover{
	background-color: #424242;
}
.numb-btn:active, .trigo:active, #sqrt:active{
	background-color: #424242;
  	box-shadow: 0 3px black;
  	transform: translateY(3px);
  	border-right: 1.5px solid black;
}
.equals{
	width: 60%;
}
.switch{
	width: 26%;
	height: 75%;
	float: left;
	cursor: pointer;
	outline: none;
	border: none;
  	border-radius: 2px;
  	box-shadow: 0 6px black;
  	border-right: 3px solid black;
  	border-left: 1.25px solid black;
  	border-top: 0.5px solid #999;
  	border-bottom: 0.5px solid #999;
  	padding-left: 2%;
  	color: #F8F8F8;
  	font-weight: 600;
	background: #5AFF60;
	font-size: 1.15em;
}
.switch:hover{
	background-color: #52EF58;
}
.switch:active{
	background-color: #52EF58;
  	box-shadow: 0 3px black;
  	transform: translateY(3px);
  	border-right: 1.5px solid black;
}
#instructions{
	background: #FFF0EC;
	padding-top: 5%;
	padding-bottom: 3%;
}
#about{
	padding-top: 5%;
	padding-bottom: 3%;
}
li{
	margin-bottom: 1%;
}
.heading{
	text-decoration: underline;
	font-style: oblique;
}
.content{
	margin-top: 3%;
	font-size: 1.3em;
}
#contact{
	width: 100%;
	background: black;
	text-align: center;
	color: white;
	padding: 3%;
}
#links{
	font-size: 2.5em;
}
.fab{
	margin: 0% 0.7% 0% 0.7%;
	color: white !important;
}
.fab:hover{
	color: #FFDF51 !important; 
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding: 0px !important;
}